<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="browser" value="Firefox" />
    <add key="username" value="nandyupali@gmail.com" />
    <add key="password" value="ganesha123" />
    <add key="url" value="https://www.amazon.in/" />
    <add key="searchitem" value="iphone" />
    <add key="selectitem" value="iphone 6s" />
    <add key="exactitem" value="Apple iPhone 6s (Rose Gold, 16GB)" />
    <add key="loginpageurl" value="Amazon Sign In" />
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    <add name="SpecFlow.Plus.Excel" type="Generator" />
    </plugins>
  </specFlow>
</configuration>